

<div class="container" style="margin-top: 3em;">
	<a ng-href="#/">Close</a> <i
		class="pull-left glyphicon glyphicon-chevron-left"></i>
			<div style="overflow:auto;height:400px">
		
	<accordion close-others="true"> <accordion-group
		is-open="isopen" ng-repeat="item in items"
		ng-controller="ItemController"> <accordion-heading>
	{{item.title}} <i class="pull-right glyphicon"
		ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-up': !isopen}"></i>
	</accordion-heading>
	
	<form ng-submit="send($index,item.owner,item.title,message,item.participants)" name="messageForm">
		<input type="text" ng-focus='isopen' placeholder="Compose a new message..."
			ng-model="message" class='message' />
		<div class="info">
			<span class="count" ng-bind="max - message.length"
				ng-class="{danger: message.length > max}">140</span>
			<button ng-disabled="message.length > max || message.length === 0">Send</button>
		</div>
	</form>	<hr />
	
		<div  ng-repeat="message in item.messages | orderBy:'timestamp':true">
		<p class="printmessage message">
			<img style='width:80px;' ng-src="//www.gravatar.com/avatar/{{message.author}}&s=80">
			<time>{{message.timestamp | date:'HH:mm'}}</time>
			<span ng-class="{self: message.self}">{{message.text}}</span>
		</p>
	</div>
	

	</accordion-group> </accordion>
</div>

</div>


